Repository ffloyd/flows: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, markdownlinter

rubocop:
  run: bundle exec rubocop {staged_files}

markdownlinter:
  run: bundle exec mdl {staged_files}

docs: improve docs structure
  docs/README.md
  docs/_sidebar.md
  docs/contributing/benchmarks_profiling.md
  docs/contributing/local_development.md
  docs/flow/direct_usage.md
  docs/flow/general_idea.md
  docs/index.html
  docs/operation/inject_steps.md
  docs/operation/lambda_steps.md
  docs/operation/result_shapes.md
  docs/operation/routing_tracks.md
  docs/operation/wrapping_steps.md
  docs/overview/getting_started.md
  docs/overview/performance.md
  docs/result_objects/direct_usage.md
  docs/result_objects/helpers.md
  docs/result_objects/metadata.md
Due: rubocop, markdownlinter

feat: add Flows::Railway
  bin/benchmark
  bin/examples.rb
  bin/profile_10steps
  lib/flows.rb
  lib/flows/railway.rb
  lib/flows/railway/builder.rb
  lib/flows/railway/dsl.rb
  lib/flows/railway/errors.rb
  lib/flows/railway/executor.rb
  spec/flows/railway_spec.rb
Due: rubocop

feat: Add Flows::Result::Do notation
  lib/flows/result.rb
  lib/flows/result/do.rb
  spec/flows/result/do_spec.rb
Due: rubocop

feat: add inheritance support for Flows::Railway
  lib/flows/railway.rb
  lib/flows/railway/dsl.rb
  spec/flows/railway_spec.rb
Due: rubocop

feat: add inheritance support for Flows::Operation
  lib/flows/operation.rb
  lib/flows/operation/dsl.rb
  lib/flows/railway/dsl.rb
  spec/flows/operation_spec.rb
Due: rubocop

docs: update
  docs/README.md
  docs/_sidebar.md
  docs/operation/basic_usage.md
  docs/railway/basic_usage.md
  docs/result_objects/basic_usage.md
  docs/result_objects/do_notation.md
Due: rubocop, markdownlinter

chore: use GitHub Actions for CI
  .github/workflows/build.yml
  .travis.yml
  README.md
  docs/README.md
Due: rubocop, markdownlinter

chore: add root README to mdl linter on CI
  .github/workflows/build.yml
  README.md
Due: rubocop, markdownlinter

docs: add Result Object Basic Usage
  docs/_sidebar.md
  docs/index.html
  docs/result_objects/basic_usage.md
  docs/result_objects/helpers.md
  docs/result_objects/metadata.md
Due: rubocop, markdownlinter

fix(readme): Fix some misspells
  docs/README.md
Due: rubocop, markdownlinter

docs(readme): Fix some misspells (#2)
  docs/README.md
Due: rubocop, markdownlinter

chore: add spellchecking using forspell gem
  .github/workflows/build.yml
  Gemfile
  Gemfile.lock
  README.md
  bin/examples.rb
  docs/README.md
  docs/overview/performance.md
  docs/result_objects/basic_usage.md
  flows.gemspec
  forspell.dict
  lefthook.yml
  lib/flows/flow.rb
  lib/flows/operation.rb
  lib/flows/result_router.rb
Due: rubocop, markdownlinter

docs: fix some mistypings
  docs/result_objects/basic_usage.md
Due: rubocop, markdownlinter

docs: basic do notation description
  docs/result_objects/basic_usage.md
  docs/result_objects/do_notation.md
Due: rubocop, markdownlinter

docs: expanded Do Notation docs
  .rubocop.yml
  docs/result_objects/do_notation.md
Due: rubocop, markdownlinter

chore: fix incorrect lefthook config
  lefthook.yml
Due: none

docs: expand Do Notation docs again
  docs/result_objects/do_notation.md
Due: rubocop, markdownlinter

docs: make landing and Getting Started pages same for doc site
  docs/README.md
  docs/_sidebar.md
  docs/overview/getting_started.md
Due: rubocop, markdownlinter

Create CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none

docs: improve Result Object :: Basic Usage
  docs/result_objects/basic_usage.md
Due: rubocop, markdownlinter

docs: move docs to flows.ffloyd.tech
  docs/index.html
Due: none

chore: update benchmarks
  bin/benchmark
  docs/overview/performance.md
Due: rubocop, markdownlinter

docs: Railway :: Basic Usage
  .rubocop.yml
  docs/railway/basic_usage.md
Due: rubocop, markdownlinter

docs: improve Railway :: Basic usage
  docs/railway/basic_usage.md
Due: rubocop, markdownlinter

chore: bump version to 0.2.0
  Gemfile.lock
  lib/flows/version.rb
Due: rubocop

chore: add .DS_Store to .gitignore
  .gitignore
Due: none

feat: impicit building for Operation and Railway
  lib/flows/implicit_build.rb
  lib/flows/operation.rb
  lib/flows/railway.rb
  spec/flows/operation_spec.rb
  spec/flows/railway_spec.rb
  spec/shared/implicit_building.rb
  spec/spec_helper.rb
Due: rubocop

chore: bump version to 0.3.0
  Gemfile.lock
  lib/flows/version.rb
Due: rubocop

chore: move ImplicitBuild module to Flows::Ext
  lib/flows/ext/implicit_build.rb
  lib/flows/implicit_build.rb
  lib/flows/operation.rb
  lib/flows/railway.rb
Due: rubocop

chore: update dev dependencies and benchmark script
  Gemfile.lock
  bin/benchmark
Due: none

chore: add reek linter (except test files)
  .github/workflows/build.yml
  .reek.yml
  .rubocop.yml
  Gemfile.lock
  Rakefile
  flows.gemspec
  lefthook.yml
  lib/flows.rb
  lib/flows/operation.rb
  lib/flows/operation/builder.rb
  lib/flows/operation/dsl.rb
  lib/flows/operation/errors.rb
  lib/flows/operation/executor.rb
  lib/flows/railway.rb
  lib/flows/railway/builder.rb
  lib/flows/railway/dsl.rb
  lib/flows/railway/errors.rb
  lib/flows/railway/executor.rb
  lib/flows/result/do.rb
  lib/flows/result/err.rb
  lib/flows/result/helpers.rb
  lib/flows/result/ok.rb
  lib/flows/router.rb
Due: rubocop

feat!: make Flows::Railway a class
  bin/examples.rb
  lefthook.yml
  lib/flows/railway.rb
  lib/flows/railway/builder.rb
  lib/flows/railway/dsl.rb
  lib/flows/railway/errors.rb
  lib/flows/railway/executor.rb
  spec/flows/railway_spec.rb
Due: rubocop

feat!: make Flows::Operation a class
  .reek.yml
  bin/examples.rb
  lib/flows/operation.rb
  lib/flows/operation/builder.rb
  lib/flows/operation/builder/build_router.rb
  lib/flows/operation/dsl.rb
  lib/flows/operation/errors.rb
  lib/flows/operation/executor.rb
  spec/flows/operation_spec.rb
Due: rubocop

chore: update ruby version and bundler version
  .ruby-version
  Gemfile.lock
Due: none

chore: refactor Flows::Railway implementation
  .reek.yml
  lib/flows/railway.rb
  lib/flows/railway/builder.rb
  lib/flows/railway/dsl.rb
  lib/flows/railway/executor.rb
  lib/flows/railway/step.rb
  lib/flows/railway/step_list.rb
Due: rubocop

chore: reduce code smell
  .reek.yml
  lib/flows/operation/builder.rb
  lib/flows/operation/dsl.rb
  lib/flows/railway/step.rb
Due: rubocop

docs: add temporary TODO.md
  TODO.md
Due: rubocop, markdownlinter

chore: extract inheritable variables logic into separete utility module
  lib/flows/ext/inheritable_attrs.rb
  lib/flows/operation.rb
  lib/flows/operation/dsl.rb
  lib/flows/railway.rb
  lib/flows/railway/dsl.rb
Due: rubocop

Path conditions:
  rubocop: any of: {*.rb,*.md,*.gemspec,Gemfile,Rakefile}
  markdownlinter: any of: *.md
